body {
    background-image: url('https://www.kerr3.com/sites/kerr3/uploads/images/portfolio/Specialty/Xpress_Wellness_Urgent_Care/Kerr_3_Design_0246_resized.jpg');
    background-size: cover;
}

.card {
    margin: 10cm;
    
    
}